<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Newseum</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="display:inline-block;">
                    <div style="padding:5px; float:left;">
                        <img src="images/newseum-logo.png" alt="" style=" border-radius: 2px;display:inline-block;position:relative;height:70px;width:70px;">
                    </div>
                    <div style="padding:5px; float:left;">
                        <h1 style="color:black; font-size:24px;">N</h1>
                        <h1 style="color:black; font-size:24px;">This is what is made up of</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="height:100vh;">
        <div style="text-align: center;margin:10rem;">
            <h1>Go Premium. Be Happy.</h1>
            <h2>Try Premium free for 30 days. Only 9.99 CAD/month after.*</h2>
            <div style="margin:5rem;">
                <button style="padding:1rem;padding-left:2rem;padding-right:2rem;">LAUNCH WEB PLAYER</button>
            </div>
        </div>
    </section>
    <section>
        <div style="text-align: center;">
            <h1>Looking for music?</h1>
            <h2>Start listening to the best new releases</h2>
            <button style="padding:1rem;padding-left:2rem;padding-right:2rem;">Let me try a demo.</button>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="bower_components/watson-speech/dist/watson-speech.js"></script>
    <!-- window.fetch pollyfill for IE/Edge & Older Chrome/FireFox -->
    <script src="bower_components/fetch/fetch.js"></script>
    <script src="js/main.js"></script>
</body>

</html>