<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
      <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
<title>Page Title</title>
</head>
<body>

    <div class="row news-album-container">
   
        <div class="col-md-3">
          <div class="news-album-cover-container">
            <img class="news-album" src="images/news-album-home.png" alt="Avatar" class="image">
            <div class="news-album-overlay play-cover-button" id="home">
              <img class="news-album-overlay-content play-cover-button" id="home" src="images/play.png" alt="" style="">
            </div>
          </div>
             <p style="color:black;font-size: 12px;">Home</p>
        </div> <div class="col-md-3">
          <div class="news-album-cover-container">
            <img class="news-album" src="images/news-album-sports.png" alt="Avatar" class="image">
            <div class="news-album-overlay play-cover-button" id="sports">
              <img class="news-album-overlay-content play-cover-button" id="sports" src="images/play.png" alt="" style="">
            </div>
          </div>
             <p style="color:black;font-size: 12px;">Sports</p>
        </div> <div class="col-md-3">
          <div class="news-album-cover-container">
            <img class="news-album" src="images/news-album-science.png" alt="Avatar" class="image">
            <div class="news-album-overlay play-cover-button" id="science">
              <img class="news-album-overlay-content play-cover-button" id="science" src="images/play.png" alt="" style="">
            </div>
          </div>
             <p style="color:black;font-size: 12px;">Science</p>
        </div> <div class="col-md-3">
          <div class="news-album-cover-container">
            <img class="news-album" src="images/news-album-tech.png" alt="Avatar" class="image">
            <div class="news-album-overlay play-cover-button" id="technology">
              <img class="news-album-overlay-content play-cover-button" id="technology" src="images/play.png" alt="" style="">
            </div>
          </div>
             <p style="color:black;font-size: 12px;">Tech</p>
        </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>
</html> 