button {
    background-color: purple;
    color: white;
    padding: 0.65rem;
    padding-left: 3rem;
    padding-right: 3rem;


    border: none;
    text-decoration: none;
}

.news-album{position: relative;
    text-align: center;
    color: white;
width:175px;
height:175px;}

    .news-album-overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:36px;
    }


.news-album-overlay {
  
    width: 175px;
    height: 175px;
    
    background: 
      url(../images/overlay.png);
  }



.queue-news-selected{background-color: #fff;}

a:hover{text-decoration: none;}

.zero-margin{margin:0;}

.verticle-align{ position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);}

.news-section-content{
  margin-bottom:1.5rem;
  
}

.news-block-title{font-size:1rem;}
.news-block-byline{font-size:0.75rem;}
.add-like-button-text{
margin-left:0.75rem;
display: none;
}

.add-to-playlist-button-text{margin-left:0.75rem;}

.left-float{float:left;}
/* 
.news-album {
    height: 175px;
    width: 175px;
    background-color: #321c4c;
} */

.section-news-album {
    height: 75px;
    width: 75px;
    background-color: #321c4c;
}

.news-album-container {
    margin: 2rem;
}

.news-album-cover-title {
    color: white;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.play-button {
    margin: 1.5rem;
}

.add-to-playlist-button{
    height: 17px;
    width: 17px;}

.like-button {
    height: 25px;
    width: 25px;
    margin: 1.5rem;
}

.add-like-button {
    height: 17px;
    width: 17px;
    display:none;
}

.info {
    height: 75px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #fff;
    color: #393838;
    opacity: 1;
    box-shadow: 4px -4px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.card {

    background: #fff;
    border-radius: 2px;
}

.card-3 {}

#play-button{width:40px;height:40px;}

#pause-button{width:40px;height:40px;}







.news-album-cover-container {
    position: relative;
    width:175px;
    
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .section-news-album-cover-container {
    position: relative;
    width:75px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .news-album-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  } 


  
  .news-album-cover-container:hover .news-album-overlay, .section-news-album-cover-container:hover .news-album-overlay {
    opacity: 0.85;
  }
  
  .news-album-overlay-content {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .news-album-overlay-content{
   width:40px;
   height:40px;
  }

  .news-album-overlay-content:hover{
    width:45px;
    height:45px;
   }